.voice-bot-container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;

  .top {
    .headers {
      margin-bottom: 24px;

      .header-title {
        position: relative;
        display: flex;
        align-items: center;

        .image {
          position: absolute;
          left: -30px;
          cursor: pointer;

          width: 24px;
          height: 24px;

        }

        .title {
          // margin-left: 20px;
          font-size: 30px;
          font-style: normal;
          font-weight: 600;
          line-height: 40px;
        }
      }

      .header-description {
        .description {
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: #777E90;
        }
      }
    }

    .middle-container {
      display: flex;
      justify-content: space-between;


      .list-container {
        width: 912px;

        .tool-list {
          margin-bottom: 25px;
          display: flex;
          list-style: none;
          gap: 32px;

          li:hover {
            cursor: pointer;
          }

          .active {
            color: #2e58ea;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              top: 43.6px;
              // bottom: -9px;
              left: 0;
              border: 1px solid #2e58ea;

              // @media only screen and (max-width: 767px) {
              //   bottom: -3px;
              // }
            }
          }

        }

        hr {
          border-color: transparent;
          background: #e6e8ec;
        }
      }

      .button-container {
        display: flex;
        gap: 12px;

        .demo-call-button {
          height: 100%;
          background: #15C932;
          border-radius: 12px;

          .button-content {
            display: flex;
            padding: 12px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .button-text {
              color: #FCFCFD;
              text-align: center;
              font-family: "General Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
            }
          }
        }

        .publish-button {
          padding: 12px 16px;
          height: 100%;
          width: 108px;
          border-radius: 12px;
          background: var(--Primary-7, #2E58EA);
          color: var(--Neutral-1, #FCFCFD);
          text-align: center;
          font-family: "General Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          // line-height: 28px;
        }
      }
    }
  }
  .bottom{
    margin-top: 30px;
    padding-bottom: 2rem;
  }
}