.contact-header-container {
    padding: 14px 100px;
    display: flex;
    background: #F0FFFD;
    justify-content: space-between;
}

.contact-info {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* height: 25px; */
    /* margin-right: auto; */
}

.contact-info ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 9px;
    justify-content: center;
}

.contact-info ul li {
    display: flex;
    align-items: center;
}

.contact-info ul li img {
    width: 100%;
}

.social-media-icons-container {
    width: 10vw;
    height: 25px;
}

.social-media-icons-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.social-media-icons-container ul li a img{
    width: 100%;
}
