.whatsapp-container {
  display: flex;
  // margin-top: 55px;
  // padding: 0 300px 0 0;
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }

  .left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: start;
    // padding-top: 30vh;
    position: relative;

    .back-arrow {
      position: absolute;
      top: 10px;
      left: 0;
      justify-content: center;
      display: flex;
      align-items: center;
      color: var(--Neutral-6, #353945);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      width: 100%;
    }

    .step-list {
      list-style: none;
      // background-color: #f4f5f6;
      padding: 24px;
      border-radius: 20px;
      position: sticky;
      top: 105px;

      @media screen and (max-width: 991px) {
        padding: 20px 15px;
      }

      li {
        margin-bottom: 16px;
        color: var(--Neutral-5, #777e90);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        padding-bottom: 5px;
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
        &.selected {
          color: #2e58ea;
          // border-bottom: 1px solid #2e58ea;
          background: #ecf0fe;
        }
      }
    }
  }

  .right {
    width: 70%;
    height: calc(100vh - 125px);
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 100px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    margin-top: 55px;

    @media screen and (max-width: 991px) {
      padding-left: 20px;
      padding-right: 20px !important;
    }

    @media screen and (max-width: 767px) {
      height: auto;
      overflow: unset;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    @media only screen and (max-width: 991px) {
      padding-right: 50px;
    }

    .intro-para {
      color: var(--Neutral-6, #353945);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin-top: 20px;
    }

    .guide-heading {
      color: var(--Neutral-8, #141416);
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px; /* 122.222% */
    }

    .guide-step-title {
      color: var(--Neutral-8, #141416);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px; /* 133.333% */
      margin-top: 40px;
      margin-bottom: 16px;
    }

    .ordered-points {
      color: var(--Neutral-6, #353945);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 140% */
      margin-bottom: 20px;
      margin-left: 30px;
      margin-top: 20px;
      span {
        font-weight: bold;
      }

      .unordered-sub-points {
        list-style-type: disc;
        margin-bottom: 20px;

        .steps-img {
          margin: 20px 0;

          img {
            width: 100%;
            height: auto;
          }
        }

        .point-bold-text {
          font-weight: bold;
        }

        .grey-link-with-underline {
          // text-decoration: none;
        }
      }
    }
  }

  @media only screen and (max-width: 991px) {
    .left {
      width: 25%;
    }

    .right {
      width: 75%;
    }
  }

  @media only screen and (max-width: 767px) {
    flex-direction: column;

    .left {
      display: none;
    }
    .step-list {
      background: #fff;
      display: flex;
      margin: 0 20px 0;
      padding: 10px 0;
      list-style-type: none;
      overflow: auto;
      position: sticky;
      top: 70px;
      li {
        padding: 8px 0;
        margin: 0 10px;
        color: #777e90;
        text-transform: capitalize;
        white-space: nowrap;
        position: relative;
        * {
          white-space: nowrap;
        }
        &.selected {
          color: #2e58ea;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: #2e58ea;
            bottom: 0;
            left: 0;
          }
        }
      }
    }

    .right {
      width: 100%;
      padding: 30px 20px 30px 40px;
      // margin-top: 30px;

      .guide-heading {
        font-size: 30px;
      }

      .guide-step-title {
        font-size: 22px;
      }

      .ordered-points {
        font-size: 18px;
      }
    }
  }
}
