.phone-container {
  display: flex;
  gap: 50px;
  width: 100%;

  .left-container {
    border-radius: 16px;
    border: 1px solid #e6e8ec;
    background: #fcfcfd;
    display: flex;
    width: 30%;
    width: 375px;
    min-height: 500px;
    max-height: 856px;
    overflow: auto;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .list-items {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 8px;
      flex: 1;

      .splitter {
        margin: 0.5rem 0;
      }

      .list-item {
        display: flex;
        justify-content: space-between;

        padding: 8px;

        &:hover {
          border-radius: 8px;
          background: #e6e8ec;
        }

        .number-details {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 4px 0;

          h2 {
            color: #141416;
            /* Body/Medium */
            // font-family: "General Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }

          p {
            color: #777e90;
            /* Body/Small */
            // font-family: "General Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }

        .switch-input {
          display: flex;
          align-items: center;

          .switch-btn {
            width: 48px;
            height: 28px;

            .ant-switch-handle {
              top: 5px;
            }
          }
        }
      }
    }

    .bottom-button {
      // width: 100%;
      display: flex;
      padding: 0;
      justify-content: center;
      align-items: stretch;

      .import-btn {
        border: none;
        padding: 12px 24px;
        border-radius: 12px 0 0 12px;
        background: #2e58ea;
        height: 50px;
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        color: #fcfcfd;
        line-height: 28px;
        box-shadow: none;
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .dropdown-btn {
        border: none;
        border-radius: 0 12px 12px 0;
        background: #2e58ea;
        height: 50px;
        width: 50px;
        min-width: 50px;
        color: #fcfcfd;
        font-size: 20px;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -1px; // Remove border gap
        transition: background 0.2s;

        &:hover {
          background: #1c3fa6;
          color: #fff;
        }
      }
    }
  }

  .right-container {
    width: 70%;
    display: flex;
    flex-direction: column;

    .top {
      .container {
        .container-head-sec {
          display: flex;
          gap: 10px;
          align-items: center;
          .edit-btn {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            border: 0;
          }
        }
        .title {
          color: #23262f;
          /* Subtitle/Large */
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
        }
        .description {
          color: #777e90;
          /* Body/Small */
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
        .content-wrapper {
          margin-top: 1rem;
          border-radius: 16px;
          border: 1px solid #e6e8ec;
          background: #fcfcfd;
          display: flex;
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;
          .input-wrapper {
            width: 100%;
            .lable {
              color: #353945;
              // text-align: center;
              /* Body/Medium */
              // font-family: "General Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }

            .phone-number-input {
              width: 100%;
              font-size: 16px;
              margin-top: 8px;
              font-style: normal;
              font-family: "General Sans";
              font-weight: 500;
              line-height: 24px;
              padding: 12px 16px;
              border-radius: 12px;
              border: 1px solid #e6e8ec;
              background: #fff;
            }
          }

          .select-wrapper {
            width: 100%;
            .lable {
              color: #353945;
              // text-align: center;
              /* Body/Medium */
              // font-family: "General Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }
            .description {
              margin-top: 0.5rem;
              color: #777e90;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              /* 171.429% */
            }
            .phone-input-with-flag {
              margin-top: 8px;
              input {
                width: 100%;
                height: 49px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                border-radius: 12px;
                border: 1px solid #e6e8ec;
                background: #fff;
              }

              .flag-dropdown {
                border-radius: 12px;
                border: 1px solid #e6e8ec;
                background: #fff;
              }
            }
          }
        }
      }
    }
    .bottom {
      .container {
        .title {
          color: #23262f;
          /* Subtitle/Large */
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
        }

        .description {
          color: #777e90;
          /* Body/Small */
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }

        .content-wrapper {
          margin-top: 1rem;
          border-radius: 16px;
          border: 1px solid #e6e8ec;
          background: #fcfcfd;
          display: flex;
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 32px;

          .input-wrapper {
            width: 100%;

            .lable {
              color: #353945;
              // text-align: center;
              /* Body/Medium */
              // font-family: "General Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }

            .phone-number-input {
              width: 100%;
              font-size: 16px;
              margin-top: 8px;
              font-style: normal;
              font-family: "General Sans";
              font-weight: 500;
              line-height: 24px;
              padding: 12px 16px;
              border-radius: 12px;
              border: 1px solid #e6e8ec;
              background: #fff;
            }
          }

          .select-wrapper {
            width: 100%;

            .lable {
              color: #353945;
              // text-align: center;
              /* Body/Medium */
              // font-family: "General Sans";
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
            }

            .phone-input-with-flag {
              margin-top: 8px;

              input {
                width: 100%;
                height: 49px;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                border-radius: 12px;
                border: 1px solid #e6e8ec;
                background: #fff;
              }

              .flag-dropdown {
                border-radius: 12px;
                border: 1px solid #e6e8ec;
                background: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.select-field {
  width: 100%;

  height: 49.45px;
  margin-top: 8px;

  input {
    color: #23262f;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .ant-select-selection-placeholder {
    // color: #23262F;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .ant-select-selection-search-input {
    color: #23262f;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  .ant-select-selection-item {
    color: #23262f;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}
