.settings-container {
    display: flex;
    width: 500px;
    max-height: 183px;
}

.settings-container .left .ant-radio-group {
    display: flex;
    flex-direction: column;
    background-color: #15C3A7;
    padding: 10px;
}

.settings-container .left .ant-radio-group .ant-radio-wrapper {
    border-bottom: 1px solid;
    margin-inline-end: 0;
    cursor: pointer;
    color: white;
}

.settings-container .left .ant-radio-group .ant-radio-wrapper:hover {
    background-color: #0d8672;

}

.settings-container .left .ant-radio-group .ant-radio-wrapper .ant-radio {
    display: none;
}

.settings-container .right {
    background-color: #c6c6c6;
    width: 57%;
    overflow-y: auto;
}

.session-data-container {
    max-height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    margin: 7px;
    border-radius: 5px;
}

.session-data-container .customer-message,
.session-data-container .bot-message {
    text-align: left;
    background: white;
    padding: 3px 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;   
    width: 100%;
}

.session-data-container .customer-message {
    color: grey;
}

.session-data-container .bot-message {
    display: flex;
}