// .testimonials-section {
//   padding: 5.2vw 12.2vw;
//   /* --------------------------top section------------------------------ */
//   .top {
//     display: flex;
//     padding: 0px 20px;
//     flex-direction: column;
//     align-items: center;
//     gap: 24px;
//     align-self: stretch;

//     h1 {
//       color: #141416;
//       text-align: center;
//       font-size: 60px;
//       font-style: normal;
//       font-weight: 600;
//       line-height: 72px; /* 120% */
//     }

//     p {
//       color: #4478f9;
//       text-align: center;
//       font-size: 16px;
//       font-style: normal;
//       font-weight: 600;
//       line-height: 24px; /* 150% */
//       text-transform: uppercase;
//     }
//   }

//   /* --------------------------bottom section------------------------------ */
//   .bottom {
//     display: flex;
//     gap: 40px;
//     margin-top: 64px;
//     .testimonial-container {
//       flex: 1;
//       display: flex;
//       padding: 48px;
//       flex-direction: column;
//       align-items: flex-start;
//       gap: 24px;
//       align-self: stretch;
//       border-radius: 16px;
//       background: #eff3fd;
//       .quote-img {
//         min-height: 13%;
//       }

//       p {
//         color: #000;
//         font-size: 18px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 28px; /* 155.556% */
//         letter-spacing: -0.24px;
//         min-height: 33%;
//       }

//       .author-details {
//         min-height: 33%;
//         display: flex;
//         align-items: center;
//         gap: 16px;
//         img {
//           border-radius: 100px;
//           border: 1px solid rgba(0, 0, 0, 0.08);
//           background: #4478f9;
//           object-fit: contain;
//           padding: 6px 0 0 0;
//         }

//         h4 {
//           color: #000;
//           font-size: 20px;
//           font-style: normal;
//           font-weight: 600;
//           line-height: 24px;
//         }

//         p {
//           color: #000;
//           font-size: 16px;
//           font-style: normal;
//           font-weight: 400;
//           line-height: 24px; /* 150% */
//           letter-spacing: -0.24px;
//         }
//       }
//     }
//   }

//   @media only screen and (max-width: 767px) {
//     padding: 20px;
//     .top {
//       h1 {
//         font-size: 30px;
//         line-height: 40px;
//       }
//     }
//     .bottom {
//       flex-wrap: wrap;

//       .testimonial-container {
//         p {
//           min-height: unset;
//         }
//       }
//     }
//   }
// }
.testimonials-section {
  text-align: center;
  padding: 5.3vw 12.2vw 50px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  background: url("../../../../../public/sections-images/testimonials-section/ellipse.png");
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 1440px) {
    padding: 5.3vw 9.2vw 0;
  }
  @media screen and (max-width: 1280px) {
    padding: 5.3vw 5.2vw 0;
  }
  @media screen and (max-width: 1024px) {
    padding: 5.3vw 3.2vw 0;
  }

  .badge {
    padding: 6px 12px;
    border-radius: 1000px;
    gap: 10px;
    border: 1px solid #fff;
    background: #eaf5ff;
    color: #4d72f5;
    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }

  h2 {
    color: #23262f;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 138.889% */
    margin: 20px 0 50px 0;
  }

  .testimonials-grid {
    display: flex;
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    // max-width: 1200px;
    overflow-x: auto;
    margin: auto;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    right: 50%;
    position: relative;
    padding: 0 2vw 20px 12.2vw;
    user-select: none;

    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for WebKit browsers */
    }
    &::-moz-scrollbar {
      display: none; /* Hide scrollbar for Firefox */
    }
    &::-ms-scrollbar {
      display: none; /* Hide scrollbar for Internet Explorer */
    }
    &::-o-scrollbar {
      display: none; /* Hide scrollbar for Opera */
    }

    .testimonial-card {
      padding: 20px;
      text-align: left;
      position: relative;
      min-width: 390px;
      max-width: 390px;
      border-radius: 12px;
      border: 1px solid var(--Neutral-3, #e6e8ec);
      background: var(--Neutral-1, #fcfcfd);

      .testimonial-quote {
        font-size: 40px;
        color: #007bff;
      }

      p {
        color: #23262f;
        font-size: 20px;
        line-height: 28px; /* 140% */
        margin: 15px 0;
      }

      .testimonial-user {
        display: flex;
        align-items: center;
        gap: 16px;

        .user-avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
        }

        h4 {
          color: #23262f;
          font-size: 16px;
          line-height: 24px; /* 150% */
        }

        span {
          font-size: 14px;
          color: gray;
        }
      }
    }
  }
}
