.header-container {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo {
    color: black;
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 78px;
    text-align: center;
}

.logo span:nth-child(2) {
    color: #15C3A7;
}

.navbar {
    font-size: 1.2vw;
    width: 58%;
    margin-left: -5%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 5%;
}

.navbar ul a {
    font-style: normal;
    color: #000;
    text-decoration: unset;
}

.navbar ul a:hover {
    color: #15C3A7;
}


.login-signup {
    padding: 13px 35px;
    border-radius: 10px;
    background-color: #15C3A7;
    color: #fff;
    line-height: 120%;
    font-size: 1.2vw;
    cursor: pointer;
}


/*------------------------------------css for secreen less than 1440---------------------------------*/
@media only screen and (max-width: 1440px) {
    .header-container {
        padding: 20px 67px;
    }

    .login-signup {
        padding: 10px 25px;
        /* font-size: 18px; */
    }
}