.header-container {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  .logo {
    cursor: pointer;
    height: auto;
  }
  .header-content {
    display: flex;
    gap: 32px;
    align-items: center;
    /*------------------------------------------messages limit----------------------------------------------*/
    .messages-limit-container {
      display: flex;
      gap: 8px;

      .ant-progress {
        width: 100px;
        margin-inline-end: 0;
        margin-bottom: 0;
        max-height: 4px;

        .ant-progress-inner {
          height: 4px;
        }
      }

      span {
        color: #777e90;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
      }
    }

    /*------------------------------------------feedback-btn----------------------------------------------*/
    .feedback-btn {
      color: #141416;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
    }

    /*------------------------------------------Profile Image----------------------------------------------*/
    .profile-img {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      background: #fe632f;
      color: #fcfcfd;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 140% */
      cursor: pointer;
      position: relative;

      .providers-img {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        background: #fe632f;
        color: #fcfcfd;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 140% */
        cursor: pointer;
        position: relative;
      }
    }

    /*------------------------------------------menu container----------------------------------------------*/
    .account-menu-conatiner {
      display: flex;
      width: 245px;
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      border-radius: 16px;
      background: #fcfcfd;
      box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.16);

      position: absolute;
      top: 45px;
      right: 0px;
      z-index: 999;

      .username {
        color: #141416;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 140% */
      }

      /*------------------------------------------account actions menu----------------------------------------------*/
      .account-actions-container {
        ul {
          display: flex;
          flex-direction: column;
          gap: 20px;

          list-style: none;
          li {
            display: flex;
            gap: 10px;
            color: #141416;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            cursor: pointer;

            .feedback-btn {
              margin-left: 35px;
            }

            .messages-limit-container {
              .ant-progress {
                width: 70px;
              }
            }
          }
        }
      }

      /*------------------------------------------plan details container----------------------------------------------*/
      .plan-details-container {
        display: flex;
        padding: 8px 12px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #2e58ea;
        background: #fcfcfd;
        .plan {
          span {
            color: #b1b5c3;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          h1 {
            color: #141416;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px; /* 133.333% */
          }
        }

        p {
          color: #ff8156;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      hr {
        width: 100%;
        background: #e6e8ec;
        border-color: transparent;
      }

      /*------------------------------------------logout btn----------------------------------------------*/
      .logout-btn {
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        gap: 10px;
        color: #141416;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        cursor: pointer;
      }
    }
  }
}
