.text-source-container .text-area {
    margin: 20px 0;
    padding-inline: 10px;
    padding-block: 10px;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.text-area:focus {
    border: 0.5px solid rgb(63, 7, 81);
    outline: none;
    box-shadow: 2px 2px 2px 1px rgb(63, 7, 81);
}