.text-source-container {
  width: 100%;
  height: 580px;
  position: relative;

  .text-area {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding-inline: 13px;
    padding-block: 10px;
    border-radius: 5px;
    padding-bottom: 50px;
    border-radius: 16px;
    border: 1px solid #e6e8ec;
    background: #fcfcfd;

    &:focus-visible {
      outline: none;
    }
  }
  p {
    position: absolute;
    bottom: -19px;
    left: 2px;
    width: 97%;
    background-color: #fcfcfd;
    padding: 10px 0 20px 16px;
    border-radius: 0 0 0 16px;
  }
}
