.chatbot-trained-loader {
  .ant-modal-content {
    padding: 40px 24px;
    max-width: 571px;
    width: 100%;

    .ant-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .ant-spin {
    width: 100%;

    .anticon {
      font-size: 120px !important;

      svg {
        color: #2e58ea;
      }
    }
  }
  .ant-modal-close {
    display: none;
  }

  .training-chatbot {
    color: var(--Neutral-8, #141416);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    margin-top: 48px;
  }

  .please-wait-text {
    color: var(--Neutral-5, #777e90);
    text-align: center;
    margin-top: 16px;
    /* Subtitle/Large */
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
  }
}

.chatbot-trained-success {
  width: 455px !important;
  .ant-modal-content {
    padding: 24px;
    text-align: center;
  }

  .ant-modal-close {
    display: none;
  }

  .success-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .ant-btn {
      width: 48%;
      height: 52px;
    }

    .home-btn {
      border-radius: 12px;
      background: var(--Neutral-3, #e6e8ec);
      border-color: #e6e8ec;
      color: var(--Neutral-8, #141416);
      text-align: center;
      font-family: "General Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 175% */
    }
    .home-btn:hover {
      color: #141416 !important;
      border-color: #e6e8ec !important;
      background-color: #e6e8ec !important;
    }

    .chatbot-btn {
      border-radius: 12px;
      background: var(--Ichef-6, #2e58ea);
      border-color: #2e58ea;
      color: var(--Neutral-1, #fcfcfd);
      text-align: center;
      font-family: "General Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 175% */
      box-shadow: none;
    }

    .chatbot-btn:hover {
      background: #2e58ea !important;
      color: #fcfcfd !important;
      // border-color: #88bd41 !important;
    }
  }

  .chatbot-ready-text {
    color: var(--Neutral-8, #141416);
    text-align: center;

    /* Subtitle/Large */
    font-family: "General Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    margin: 32px 0;
  }
}
