// .slack-modal-container {
//   background-color: black;
.slack-modal {
  .ant-modal-content {
    .ant-modal-body {
      color: antiquewhite !important;
      .slack-user-data {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        .slack-user-label {
          color: #353945 !important;
          font-size: 16px !important;
          font-style: normal !important;
          font-weight: 500 !important;
          line-height: 24px !important;
          margin-left: 5px;
        }

        .slack-user-input {
          padding: 12px 16px;
          border-radius: 12px;
          font-size: 16px;
          line-height: 26px;
          border: 1px solid #e6e8ec;
          margin-top: 5px;
        }

        .slack-user-input:focus-visible {
          outline: none;
        }
      }
      .input-error {
        margin-top: 10px;
        color: red;
        margin-left: 5px;
        font-size: 14px;
      }
    }

    .ant-modal-footer {
      .save-btn {
        border-radius: 12px;
        background: #2e58ea;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
      }

      .delete-btn {
        border-radius: 12px;
        background: red;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
// }
