.ant-modal {
    .ant-modal-title {
        color: #141416;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 140% */
    }

    .ant-modal-footer {
        justify-content: flex-end;
        display: flex;
    }

    .ok-btn {
        cursor: pointer;
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;

        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;

        border: none;

        &:first-child {
            background: #e6e8ec;
            color: #141416;
        }

        &:last-child {
            background: #2e58ea;
            color: #fcfcfd;
        }
    }
}
