.agent-call-wrapper {
  height: calc(100vh - 60px);
  background: url("../../../../../public/sections-images/header-background/bg.png")
    no-repeat center center; // replace with actual background
  background-size: cover;
  display: flex;
  // align-items: center;
  justify-content: center;
  padding: 70px;
  @media screen and (max-width: 1024px) {
    padding: 40px;
  }

  .agent-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 768px) {

    }
    

    h2:first-of-type {
      font-size: 2rem;
      color: #ffffff;
      margin-bottom: 0.25rem;
    }

    p:first-of-type {
      font-size: 1rem;
      color: #cfd9f2;
      margin-bottom: 2rem;
    }

    .agent-text-header{
      display: flex;
      flex-direction: column;
      align-items: center;

    }


    .avatar-container {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 2rem;
      margin-top: 75px;
      @media screen and (max-width: 1024px) { 
        margin-top: 30px;
        margin-bottom: 16px;
      }

      .avatar {
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
    }

    .controls {
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      margin-top: 80px;

      .mute-btn{
        background-color: orangered;
      }

      .icon-btn {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.1);
        border: none;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(6px);
        cursor: pointer;
        transition: background 0.2s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &.end-call {
          background-color: white;
        }
      }
    }
  }

  // @media screen and (max-width: 768px) {
  //   .agent-details {
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //   }

  // }
}

.img-green {
  filter: invert(40%) sepia(80%) saturate(3000%) hue-rotate(90deg);
}

.img-red {
  filter: invert(40%) sepia(80%) saturate(5000%) hue-rotate(-10deg);
}
