.blog-detail-container {
  min-height: calc(100vh - 490px);
  max-width: 1208px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  * {
    font-family: --font-josefin-sans;
  }
  .banner-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 48px;
    @media screen and (max-width: 767px) {
      height: auto;
      border-radius: 10px;
    }
  }

  .detail-card-wrapper {
    border-radius: 10px;
    max-width: 795px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    padding: 48px 15px 0;
    @media screen and (max-width: 767px) {
      padding: 26px 10px 0;
    }
    .card-about {
      display: flex;
      color: #353945;
      align-items: center;
      padding: 20px 0;
      .empty {
        padding: 4px;
        margin: 0 14px;
        border-radius: 50%;
        background-color: #b1b5c3;
      }
    }
    .title {
      text-transform: capitalize;
      color: #141416;
      font-size: 60px;
      font-weight: 600;
      line-height: 72px;
      @media screen and (max-width: 991px) {
        font-size: 50px;
        line-height: 52px;
      }
      @media screen and (max-width: 767px) {
        font-size: 40px;
        line-height: 42px;
      }
    }
  }
  

  /** blog content css start*/
  .blog-content {
    margin: 48px 0 200px;
    line-height: 32px;
    @media screen and (max-width: 991px) {
      margin: 40px 0 120px;
    }
    @media screen and (max-width: 767px) {
      margin: 32px 0 80px;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-transform: capitalize;
      color: #121212; 
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 600;
      @media screen and (max-width: 767px) {
        font-size: 26px;
        line-height: 36px;
      }
    }
    p {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
      @media screen and (max-width: 767px) {
        font-size:18px;
        line-height: 24px;
      }
    }
    ul, ol {
      margin-bottom: 20px;
      font-size: 20px;
      list-style-type: none;
      @media screen and (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 14px;
      }
      li{
        margin-bottom: 15px;
        position: relative;
        padding-left: 30px;
        @media screen and (max-width: 767px) {
          margin-bottom: 10px;
          line-height: 24px;
          padding-left: 24px;
        }
        &::before{
          content: '🔷';
          position: absolute;
          left: 0;
          top: 1px;
          font-size: 15px;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
    }
    iframe {
      width: 100%;
      height: 500px;
      padding: 10px 0;
      @media screen and (max-width: 991px) {
        height: 400px;
      }
      @media screen and (max-width: 450px) {
        height: 320px;
      }
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 20px;
      margin-bottom: 20px;
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
}
