.data-source-container .title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.ant-radio-group {
    margin-left: 10px;
}

.ant-radio-wrapper {
    font-size: 20px;
}

.included-source {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35vw;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.items-character-count-container {
    display: flex;
}

.margin-pipe {
    margin: 0 10px;
}