* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* color: #000; */
}

/* Header {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
}

Header .logo a {
  font-size: 30px;
  font-weight: lighter;
  font-family: 'Times New Roman', Times, serif;
}

Header a {
  font-size: 20px;
  font-weight: bolder;
  color: black;
} */

/* .ant-btn-primary {
  background-color: black;
}

.ant-btn-primary:hover {
  background-color: rgba(10, 10, 10, 0.856) !important;
} */

.hubspot-modal  .hubspot-input{
  padding: 8px;
  height: 40px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid  #B1B5C3;
  background:  #FFF;
}
.hubspot-input:focus{
  outline: none;
}
.hubspot-modal .error{
  color: red;
  padding-top: 5px;
  margin: 0px;
  font-size: 14px;
}