.integration-container {
  margin: 24px 45px 0 45px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .integration {
    display: flex;
    width: 791px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #e6e8ec;
    background: #fcfcfd;

    .name {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .action {
      color: #fe632f;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
    .view {
      color: #5cb85c;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
    .view:hover {
      cursor: pointer;
    }
    .delete {
      color: red;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
    .delete:hover {
      cursor: pointer;
    }
    .action:hover {
      cursor: pointer;
    }
    }

    .i-btn{
      position: relative;

    }
    .telegram-i-btn{
      position: absolute;
      right: -28px;
    }


  .integration:nth-of-type(2) .action {
    color: #777e90;
  }

  .how-to-integrate {
    margin-top: 20px;
    margin-left: 5px;

    .integrate-text {
      color: var(--Primary-7, #2e58ea);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
  .telegram-container{
    display:flex;
    align-items:center;

  }

  .telegram-i-btn:hover{
    cursor: pointer !important;
  }

  @media only screen and (max-width: 991px) {
    .integration {
      width: 100%;
    }
  }

  @media only screen and (max-width: 767px) {
    margin: 24px 5px;

    .integration {
      width: 100%;
    }
  }
}
