.chat-container {
    height: fit-content;
    width: 800px;
    border: 1px solid #c9c9c9;
    margin-top: 50px;
    border-radius: 5px;
}

.chat-question {
    position: relative;
    display: inline-block;
    border: 1px solid #c9c9c9;
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.chat-question input[type="text"] {
    padding-right: 30px;
    height: 50px;
    width: 780px;
    border: none;
    font-size: 20px;
    padding-left: 20px;
}


.chat-question .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.conversation-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 600px;
}

.conversation-container::-webkit-scrollbar {
    width: 0.5em;
}

.conversation-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.conversation-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.conversation-container .assistant-message {
    white-space: pre-line;
    font-size: 20px;
    background-color: ghostwhite;
    width: fit-content;
    padding: 20px 10px;
    border: 1px solid red;
    border-radius: 5px;
    /* display: flex; */
    text-align: justify;
    word-break: break-word;
    /* position: relative; */
}

.assistant-message-container {
    max-width: 400px;
    width: fit-content;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.conversation-container .assistant-message img {
    width: 100%;
}

.conversation-container .time {
    font-size: 12px;
    position: absolute;
    right: 3%;
    bottom: 25px;
}

.like-dislike-container {
    display: flex;
    gap: 4px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.like-dislike-container span {
    cursor: pointer;
}

.like-dislike-container span:hover {
    background-color: #d6d6d6;
}



.conversation-container .user-message {
    font-size: 20px;
    background-color: hsla(221, 94%, 48%, 0.733);
    color: white;
    padding: 20px 10px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: justify;
    word-wrap: break-word;
}

.user-message-container {
    max-width: 400px;
    width: fit-content;
    margin-left: auto;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.user-message-container .time {
    font-size: 12px;
    position: absolute;
    right: 3%;
    bottom: 2px;
    color: white;
}

.typing-indicator {
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    animation: bounce 1.0s infinite;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}