.model-settings-parent {
  // ---------------------------- for training section------------------------------
  .training-parent {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 56px;
    //styles
    border-radius: 8px;
    border: 1px solid #e6e8ec;
    background: #fcfcfd;

    .training-heading {
      color: #141416;

      /* Subtitle/Large */
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 140% */
    }
    .training-description {
      color: #777e90;
      text-align: center;

      /* Body/Medium */
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
  }

  // -------------------------------- for model section -------------------------------------

  .model-parent {
    display: flex;
    // width: 1208px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    //style
    border-radius: 8px;
    border: 1px solid #e6e8ec;
    background: #fcfcfd;

    .model-heading {
      color: #141416;

      /* Subtitle/Large */
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 140% */
    }
    .model-child-container {
      display: flex;
      //   justify-content: space-between;
      // border: 2px solid yellow;

      .model-child-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;

        //test
        width: 50%;

        .instruction-heading {
          color: #353945;
          text-align: center;

          /* Body/Medium */
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
        .instruction-description {
          display: flex;
          padding: 12px 16px;
          align-items: center;
          gap: 10px;
          align-self: stretch;
          //style
          border-radius: 12px;
          border: 1px solid #e6e8ec;
          background: #fff;
          .instruction-description-text {
            color: #23262f;

            /* Body/Medium */
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            border: none;
            width: 100%;
            outline: none;
            height: 100px;
            resize: none;
          }
        }
        .instruction-sub-description {
          align-self: stretch;
          //style
          color: #777e90;

          /* Body/Medium */

          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }

        .antd-select {
          // position: relative;
          width: 100%;
          height: 48px;
          border-radius: 12px;
          border: 1px solid #e6e8ec;
          background: #fff;

          // test
          // border: 2px dotted green;

          .ant-select-selection-item {
            width: 100%;
            border-radius: 12px;
            height: 48px;
            color: #23262f;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            padding: 12px 16px;
            line-height: 24px; /* 150% */
          }

          .ant-select-selector {
            // border-color: #e6e8ec;
            border-radius: 12px;
            border: none;
            box-shadow: none;
          }
        }

        // .ant-select:hover {
        //   border: none;
        // }

        // .dropdown-container {
        //   display: flex;
        //   padding: 12px 16px;
        //   align-items: center;
        //   gap: 10px;
        //   align-self: stretch;
        //   //style
        //   border-radius: 12px;
        //   border: 1px solid #e6e8ec;
        //   background: #fff;
        //   .dropdown-text {
        //     appearance: none;
        //     flex: 1 0 0;
        //     color: #23262f;
        //     border: none;
        //     background: none;
        //     outline: none;

        //     /* Body/Medium */
        //     font-size: 16px;
        //     font-style: normal;
        //     font-weight: 500;
        //     line-height: 24px; /* 150% */
        //   }
        //   .dropdown-text option {

        //     background-color: #1d0404;
        //   }
        //   .dropdown-text option :active{
        //     border: 2px solid red;
        //   }
        // }
      }
    }
    .model-sub-heading {
      color: #353945;
      text-align: center;

      /* Body/Medium */
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
    .model-sub-description {
      align-self: stretch;
      color: #777e90;

      /* Body/Medium */
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }

    .temperature-container {
      display: flex;
      width: 50%;
      flex-direction: column;
      align-items: flex-start;
      gap: 17px;
      padding-left: 68px;
      padding-top: 12px;
      padding-right: 19px;
      padding-bottom: 310px;
      //   border: 2px solid blue;

      .temperature-top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        .temperature-title {
          color: #353945;
          text-align: center;

          /* Body/Medium */
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
        span {
          color: #353945;
          text-align: center;

          /* Body/Medium */
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }
      }
      .progress-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        align-self: stretch;
        .progress-bar-top-section {
          width: 100%;
          height: 0px;
          flex-shrink: 0;

          //style
          stroke-width: 9px;
          stroke: var(--Neutral-3, #e6e8ec);

          // .ant-slider {
          //   margin: 0;
          //   &.ant-slider-track {
          //     background-color: rgba(0, 0, 0, 0.04);
          //   }
          //   &:hover {
          //     background-color: rgba(0, 0, 0, 0.04);
          //   }
          // }
          // .ant-slider .ant-slider-handle {
          //   top: -6px;
          //   &::after {
          //     background-color: #2e58ea;
          //     box-shadow: none;
          //     height: 24px;
          //     width: 24px;
          //   }
          // }

          .ant-slider {
            margin: 0;
          }

          .ant-slider .ant-slider-track {
            background-color: rgba(0, 0, 0, 0.04);

            &:hover {
              background-color: rgba(0, 0, 0, 0.04);
            }
          }
          .ant-slider .ant-slider-handle {
            top: -6px;
            &::after {
              background-color: #2e58ea;
              box-shadow: none;
              height: 24px;
              width: 24px;
            }
          }
        }

        .progress-bar-bottom-section {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          margin-top: 17px;
          .reserved {
            color: #777e90;
            text-align: center;

            /* Body/Medium */
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
          }
          .creative {
            color: #777e90;
            text-align: center;

            /* Body/Medium */
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
          }
        }
      }
    }
    .save-btn {
      display: flex;
      width: 108px;
      height: 52px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 0px;

      //style
      border-radius: 12px;
      background: #2e58ea;

      .btn-text {
        color: #fcfcfd;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 175% */
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .model-parent {
      .model-child-container {
        flex-direction: column;

        .model-child-left {
          width: 100%;
        }
        .temperature-container {
          width: 100%;
          padding-left: 0;
          padding-top: 30px;
          padding-bottom: 100px;
        }
      }
    }
  }
}
.ant-select-item-option-selected {
  background-color: #2e58ea !important;
  color: white !important;
}
