/* register.css */

/* .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.register-form-container {
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.login-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ant-btn {
    width: 100%;
    margin-top: 10px;
}

.ant-form-item-explain-error {
    text-align: left;
}

.link-to-login {
    margin-top: 10px;
    text-align: center;
}

.social-login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social-login-button {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.social-login-button img {
    margin-right: 10px;
}

.ant-row {
    display: flex;
    align-content: center;
}

.ant-col-16 {
    max-width: unset;
}

hr {
    width: 300px;
} */


.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ant-form-item:nth-child(1) {
    border: none;
}

.ant-form-item:nth-child(3) {
    width: 500px;
    border-radius: 8px;
    border: 1px solid var(--Border, #E8ECF4);
    background: #F7F8F9;
}

#basic_username,
#basic_email {
    height: 60px;
}

.ant-col-16 {
    max-width: none;
}

.ant-form {
    max-width: none !important;
    margin-top: 50px;
    position: relative;
}

.ant-input {
    height: 50px;
    font-size: 17px !important;
    border-radius: 8px;
    border: 1px solid #E8ECF4;
    background: #F7F8F9;
    color: #8391A1;
    font-size: 30px;
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 125%;
}

.ant-input-affix-wrapper {
    background-color: #F7F8F9;
    border-width: 0;
    border-style: none;
}

.register-btn {
    display: flex;
    width: 100% !important;
    height: 50px;
    padding: 17px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #15C3A7;
}

.register-btn span {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 39px */
    text-transform: uppercase;
}

.ant-btn-primary:hover {
    background-color: #24d0b3 !important;
}

.register-with-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-with-text-container .register-with-text {
    color: #6A707C;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register-with-text-container hr {
    width: 100px;
    background: #E8ECF4;
    border-color: transparent;
}

.social-login-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.social-login-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    width: 35%;
    border-radius: 8px;
    border: 1px solid #E8ECF4;
    background: #FFF;
}

.link-to-login {
    margin-top: 10px;
    font-size: 17px;
    color: #1E232C;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.35px;
}

.link-to-login a {
    color: #35C2C1;
}

.ant-btn-primary.social-login-button:hover {
    background-color: #fafafa !important;
}

.login-register-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}