.register-container {
    margin-top: 100px;
}

.login-register-conatiner {
    display: flex;
    flex-direction: column;
}

.login-register-conatiner .ant-btn {
    width: fit-content;
    margin: auto;
}

.login-register-conatiner a {
    text-decoration: underline;
}

.link-to-login {
    font-size: 18px;
    margin-top: 10px;
}