.ai-chatbot-section-container {
    display: flex;
}

.ai-chatbot-text {
    height: 220px;
    /* font-size: 220px; */
    font-size: 12vw;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    position: relative;
    /* color: transparent; */
    /* -webkit-text-stroke: 1px #33E0C4; */
    text-shadow: -1px 1px 0px #33E0C4, 0px 1px 0px #33E0C4, 1px 1px 0px #33E0C4, 0px -1px 0px #33E0C4;
    color: #fff;
    z-index: -1;
}

.ai-chatbot-section-container .welcome-text {
    color: #000;
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: 134%;
    width: 486px;
    height: 176px;
    text-transform: uppercase;
    margin-left: 99px;
    margin-top: -114px;
    position: relative;
}

.ai-chatbot-section-container .welcome-text::before {
    content: '';
    position: absolute;
    top: 139px;
    left: 2px;
    width: 420px;
    height: 30px;
    background: #15C3A7;
    border-radius: 20px;
    z-index: -1;
}


.ai-chatbot-section-container .section-text {
    margin-top: 90px;
    margin-left: 100px;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    color: #232932;
    width: 830px;
    height: 149px;
}


.ai-chatbot-section-container .right {
    margin-top: -186px;
    margin-right: 9px;
    margin-left: auto;
}


.request-demo-email-container {
    width: 801px;
    height: 89px;
    border-radius: 44.5px;
    background: #F6FFFE;
    box-shadow: 0px 10px 20px 0px #E7ECFD;
    margin-left: 100px;
    margin-top: 67px;
}

.request-demo-email-container button {
    width: 260px;
    height: 89px;
    border-radius: 44.5px;
    background: #15C3A7;
    color: #fff;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-right: 0;
    margin-left: auto;
    border: none;
    cursor: pointer;
}

.request-demo-email-container input {
    width: 538px;
    height: 89px;
    color: #8A8A8A;
    font-size: 19px;
    padding-inline: 40px;
    border: none;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border-radius: 44.5px
}

.request-demo-email-container input:focus-visible {
    border: none;
    outline: none;
}

/*------------------------------------css for secreen less than 1440---------------------------------*/
@media only screen and (max-width: 1440px) {
    .ai-chatbot-text {
        font-size: 190px;
    }

    .ai-chatbot-section-container .right {
        margin-top: -220px;
        margin-right: 0;
        margin-left: 2px;

    }

    .ai-chatbot-section-container .right img {
        width: 498px;
        height: 590px;
    }

    .ai-chatbot-section-container .welcome-text {
        font-size: 62px;
        margin-left: 85px;
        margin-top: -129px;
    }

    .ai-chatbot-section-container .section-text {
        margin-top: 63px;
        margin-left: 85px;
        font-size: 20px;
        line-height: 32px;
    }

    .request-demo-email-container {
        margin-left: 85px;
        height: 75px;
        margin-top: 0;
        width: 670px;
    }

    .request-demo-email-container input {
        font-size: 17px;
        height: 75px;
        width: 430px;
    }

    .request-demo-email-container button {
        height: 75px;
        font-size: 19px;
        width: 240px;
    }

}