.header-title-container {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  // backdrop-filter: blur(4.199999809265137px);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;

  @media only screen and (max-width: 1440px) {
    padding: 12px 20px;
  }

  .hamburger-menu-icon {
    display: none;
    cursor: pointer;

    @media only screen and (max-width: 991px) {
      display: block;
    }

    .bar {
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 4px 0;
    }
  }

  .hamburger-menu {
    @media only screen and (min-width: 991px) {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      .navbar {
        width: 75%;
        display: flex;
        justify-content: center;

        ul {
          color: #141416;
        }
      }
    }

    @media only screen and (max-width: 991px) {
      display: none;
    }

    @media only screen and (max-width: 1380px) {
      .navbar {
        width: 70%;
      }
    }

    @media only screen and (max-width: 1175px) {
      .navbar {
        width: 63%;
      }
    }
  }

  .open {
    @media only screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 57px;
      right: 10px;
      background-color: #788ab1;
      padding: 20px;
      border-radius: 10px;
      user-select: none;

      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
          color: #fff;
        }
      }

      .login-register-container {
        margin-top: 20px;
        margin-left: 0;

        .login-btn {
          color: #fff;
        }
      }
    }
  }
}

.navbar {
  ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 56px;
    a {
      text-align: center;
      text-decoration: unset;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      color: #141416;

      &:hover {
        color: #000;
      }
    }
  }

  // @media screen and (max-width: 1440px) {
  //   ul {
  //     gap: 50px;
  //   }

  //   a {
  //     font-size: 16px !important;
  //   }
  // }
}

.login-register-container {
  display: flex;
  align-items: center;
  gap: 32px;
  // margin-left: 30px;
  .login-btn {
    color: #141416;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
  }
  .try-free-btn {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 10px;
    color: #fcfcfd;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    border-radius: 12px;
    background: #0035f0;
    cursor: pointer;
  }

  // @media screen and (max-width: 1440px) {
  //   gap: 27px;
  //   .login-btn {
  //     font-size: 16px;
  //   }

  //   .try-free-btn {
  //     font-size: 15px;
  //     padding: 10px 17px;
  //   }
  // }
}

.header-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 8.7vw 8vw 0 8vw;

  @media only screen and (max-width: 991px) {
    padding: 8.7vw 8vw 8.7vw 8vw;
  }
}
