.chat-container {
    height: fit-content;
    width: 800px;
    border: 1px solid #c9c9c9;
    margin-top: 50px;
    border-radius: 5px;
}

.chat-question {
    position: relative;
    display: inline-block;
    border: 1px solid #c9c9c9;
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.chat-question input[type="text"] {
    padding-right: 30px;
    height: 50px;
    width: 780px;
    border: none;
    font-size: 20px;
    padding-left: 20px;
}


.chat-question .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.conversation-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 600px;
}

.conversation-container .assistant-message {
    font-size: 20px;
    background-color: ghostwhite;
    max-width: 400px;
    width: fit-content;
    padding: 20px 10px;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
    text-align: justify;
    word-break: break-word;
    margin-bottom: 10px;
}

.conversation-container .user-message {
    font-size: 20px;
    background-color: hsla(221, 94%, 48%, 0.733);
    width: fit-content;
    max-width: 400px;
    color: white;
    padding: 20px 10px;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 25px;
}


.typing-indicator {
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    animation: bounce 1.0s infinite;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}