.qa-container {
    height: 580px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #e6e8ec;
    background: #fcfcfd;
    margin-top: 20px;

    .qa-lists {
        height: 90%;
        overflow-y: auto;
        padding: 16px;
    }

    .qa-action-container {
        height: 10%;
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: center;

        span {
            color: #353945;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
        }

        .action-btns {
            display: flex;
            gap: 9px;
            button:first-child {
                display: flex;
                padding: 8px 16px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: none;
                border-radius: 12px;
                background: #e6e8ec;

                color: #141416;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                cursor: pointer;
            }

            button:last-child {
                display: flex;
                padding: 8px 16px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 12px;
                background: #fde7e7;
                border: none;

                color: #f00000;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px; /* 150% */
                cursor: pointer;
            }
        }
    }
}
