.ai-agents-section {
  padding: 5.2vw 12.2vw;

  .sub-heading {
    color: #4d72f5;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .main-heading {
    font-size: 48px;
    font-weight: 600;
    color: #23262f;
    margin-bottom: 20px;
  }

  .section-desc {
    color: #777e90;
    font-size: 20px;
    margin-bottom: 48px;
  }

  .agents-row {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
    flex-wrap: wrap;
  }

  .agents-row-1 {
    flex-wrap: nowrap;

    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  .agents-row-2 {
    flex-wrap: nowrap;

    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  .agent-card {
    background-color: #fcfcfd;
    border: 1px solid #ccd7fc;
    border-radius: 16px;
    padding: 32px 20px;
    // width: 280px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.02);
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    }

    .icon-wrapper {
      position: relative;
      max-width: 410px;
      height: auto;
      margin: 0 auto 24px;

      img {
        width: 100%;
        height: 100%;
        z-index: 2;
        position: relative;
      }

      //   .icon-glow {
      //     position: absolute;
      //     width: 100%;
      //     height: 100%;
      //     background: radial-gradient(
      //       circle,
      //       rgba(255, 204, 147, 0.6),
      //       transparent 70%
      //     );
      //     border-radius: 50%;
      //     z-index: 1;
      //     top: 0;
      //     left: 0;
      //     filter: blur(8px);
      //   }
    }

    .agent-title {
      font-size: 24px;
      font-weight: 600;
      color: #23262f;
      margin-bottom: 12px;
    }

    .agent-desc {
      font-size: 16px;
      color: #777e90;
      line-height: 1.5;
    }
  }
}
