.model-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;

  .backdrop {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: .5);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .model-content{
    padding: 20px;
    max-width: 600px;
    width: 100%;
    min-height: 600px;
    max-height: 90%;
    margin: auto;
    background: white;
    z-index: 2;
    position: relative;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .header{
      position: sticky;
      top: -20px;
      margin-top: -20px;
      z-index: 1;
      padding: 20px 0 0;
      background: #fff;
      color: #141416;
       
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        /* 140% */
        .steps{
          display: flex;
          gap: 8px;
          margin-top: 20px;
          margin-bottom: 12px;
          
        }
        .model-title{
          color: #23262F;
            /* Body/Bold */
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
        }
        .model-description{
          color:  #777E90;
            /* Body/Small */
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }
    .content{
      flex: 1;
      margin-top:  1.5rem;
    }
    .footer{
      // position: sticky;
      // bottom: 0;
      // background: #fff;
      // margin-top: auto;
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      .left-column{
        width: auto;
        button{
          border: none;
          padding: 12px 24px;
          height: auto;
          span {
              color: #141416;
              text-align: center;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px;
            }
        }
      }
      .right-column{
        width: auto;
        display: flex;
        gap: 12px;
        .previous{
          border: none;
          padding: 12px 24px;
          border-radius: 12px;
          background:  #E6E8EC;
          height: auto;
          span{
            color:  #141416;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
          }
        }
        .next{
          border-radius: 12px;
          background:  #2E58EA;
          border: none;
          padding: 12px 24px;
          height: auto;
          span{
          color: #FCFCFD;
            text-align: center;
            // font-family: "General Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
          }
        }
      }
    }
  }
}
