.testimonials-section-container {
    padding: 150px 0;
    position: relative;
}

.testimonials-section-container::before {
    content: '';
    position: absolute;
    right: 0;
    top: -450px;
    width: 1325px;
    height: 1500px;
    background-image: url("../../../../public/sections-images/common/compatibility-testimonials-bg.svg");
    background-repeat: no-repeat;
    background-position: right top;
    z-index: -1;
    background-size: 80%;
}

/* ------------------------------top section------------------------------- */

.testimonials-section-container .top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.testimonials-text {
    position: relative;
    height: 220px;
    font-size: 220px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    /* color: transparent;
    -webkit-text-stroke: 1px #33E0C4; */
    text-shadow: -1px 1px 0px #33E0C4, 0px 1px 0px #33E0C4, 1px 1px 0px #33E0C4, 0px -1px 0px #33E0C4;
    color: #fff;
    padding: 0 20px;
    text-align: center;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    z-index: 1;
}

.testimonials-section-container .testimonials-welcome-text {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 134%;
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    /* -webkit-text-stroke: transparent; */
    text-shadow: none;
    z-index: 10;
}

.testimonials-section-container .testimonials-welcome-text::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    width: 420px;
    height: 30px;
    background: #15C3A7;
    border-radius: 20px;
    z-index: -1;
}

/* ------------------------------bottom section------------------------------- */

.testimonials-section-container .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials-section-container .testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
}

.testimonials-section-container .testimonial-container .profile-img {
    position: relative;
}

.testimonials-section-container .testimonial-container .profile-img .quote-img {
    position: absolute;
    bottom: -9px;
    object-fit: scale-down;
    right: 30px;
    background-color: #FFF;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.08)
}

.testimonials-section-container .testimonial-container .profile-name {
    padding-top: 64px;
}

.testimonials-section-container .testimonial-container .profile-note {
    color: #000;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    width: 729px;
    display: flex;
    align-items: center;
    padding-top: 16px;
}

.testimonials-section-container .bottom .swiper {
    margin-left: 0;
    margin-right: 0;
}

.testimonials-section-container .prev-slide-btn,
.next-slide-btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.testimonials-section-container .prev-slide-btn {
    justify-content: end;
}

.slider-wrapper {
    max-width: 1133px;
    margin: 0 auto;
}


/*------------------------------------css for secreen less than 1440---------------------------------*/
@media only screen and (max-width: 1440px) {
    .testimonials-text {
        font-size: 190px;
    }

    .testimonials-section-container .testimonials-welcome-text {
        font-size: 62px;
    }

    .testimonials-section-container .testimonials-welcome-text::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 50px;
        width: 420px;
        height: 30px;
        background: #15C3A7;
        border-radius: 20px;
        z-index: -1;
    }

    .testimonials-section-container::before {
        top: -314px;
        background-size: 60%;
    }
}