.digital-workers {
  display: flex;
  padding: 5.2vw 12.2vw;
  margin-top: 20px;

  @media screen and (max-width: 1440px) {
    padding: 5.2vw 9.2vw;
  }
  @media screen and (max-width: 1280px) {
    padding: 5.2vw 5.2vw;
  }
  @media screen and (max-width: 1024px) {
    padding: 5.2vw 3.2vw;
  }

  gap: 3rem;

  .left-pane {
    flex: 1;
    max-width: 300px;
    // position: sticky;
    // top: 100px;

    .badge {
      padding: 6px 12px;
      border-radius: 1000px;
      gap: 10px;
      border: 1px solid #fff;
      background: #eaf5ff;
      color: #4d72f5;
      font-size: 14px;
      line-height: 20px; /* 142.857% */
    }

    h2 {
      font-size: 36px;
      font-weight: 600;
      margin: 17px 0;
    }

    p {
      font-size: 16px;
      color: #777e90;
      margin-bottom: 17px;
    }

    a {
      color: #2e58ea;
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .right-pane {
    flex: 1;
    overflow-y: auto;
    // height: 80vh;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for WebKit browsers */
    }

    .scroll-container {
      display: flex;
      flex-direction: column;

      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */

      &::-webkit-scrollbar {
        display: none; /* Hide scrollbar for WebKit browsers */
      }
    }

    .card {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      padding: 1.5rem;
      position: relative;
      display: flex;

      img {
        width: 80%;
        height: auto;
        border-radius: 8px;
        object-fit: contain;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 30px;
        font-weight: 600;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        width: 80%;

        span {
          font-size: 16px;
          font-weight: 500;
          color: #777e90;
        }
      }

      p {
        font-size: 16px;
        color: #777e90;
        margin: 0.5rem 0 1rem 0;
        width: 80%;
      }

      button {
        background-color: #2e58ea;
        color: white;
        border: none;
        padding: 12px 24px;
        border-radius: 12px;
        font-size: 16px;
        margin-bottom: 1rem;

        &:hover {
          background-color: #1c4fb7;
        }
      }

      .stats {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        padding-top: 1rem;

        li {
          text-align: center;
          margin: 20px 0;

          img {
            width: 32px;
            height: 32px;
            margin-bottom: 10px;
          }

          span {
            display: block;
            font-size: 16px;
            color: #777e90;
            margin-bottom: 10px;
          }

          strong {
            font-size: 30px;
            font-weight: 600;
            color: #23262f;
          }
        }
      }
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;

    .left-pane {
      position: static;
      max-width: 100%;
    }

    .right-pane {
      height: auto;
      max-height: none;
    }
  }

  @media (max-width: 475px) {
    .right-pane {
      .card {
        flex-direction: column;

        .card-left {
          img {
            width: 100%;
            height: auto;
          }
          h3 {
            width: 100%;
          }
          p {
            width: 100%;
          }
        }

        .stats {
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
  }
}
