.chatbot-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chatbot-container-title {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.chatbot-container-title .title-text {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.chatbots {
    width: 800px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.chatbot {
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    margin: 20px;
}

.chatbots .chatbot .icon {
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: #c9c9c9;


}

.chatbots .chatbot .icon .anticon svg {
    height: 30px;
    width: 30px;
}

.chatbots .chatbot .name {
    width: 150px;
    overflow-x: hidden;
    padding: 10px 5px;
    word-break: break-all;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.chatbots .chatbot:hover {
    cursor: pointer;
}